* {
    font-family: Inter;
}

#menu-superior {
    background-color: #303030;
    width: 1480px;
    height: 440px;
}

#texto-menusuperior{
    background-color: #303030;
    font-family: inter;
    color: white;
    margin-left: 70px;
    padding-top: 180px;
}

#subtitulo-menusuperior{
    color: white;
    font-family: inter;
    font-size: small;
    margin-left: 70px;
}

#carrossel {
    display: grid;
    background-color: #f9f9f9;
    padding: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center left;
  }
  
  .carrossel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .carrossel-item {
    grid-column: span 1;
    display: flex;
    align-items: start;
  }
  
  .carrossel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carrossel-item h1 {
    margin-top: 0;
  }

.subtitulo-carrossel{
    font-family: inter;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 0px;
}

#menuinformacional {
    display: flex;
  }
  
  .menu-content {
    width: 70%;
    padding-right: 20px;
  }
  
  .menu-image {
    width: 30%;
  }
  
  .menu-image img {
    width: 80%;
    height: auto;
    margin-top: 20%;
    border: 0px;
    border-radius: 40px;
  }
  
  .menu-content h2 {
    font-size: 36px;
    margin-top: 30%;
    margin-left: 20%;
    margin-bottom: 10px;
  }
  
  .menu-content p {
    margin: 0;
    font-size: 22px;
    margin-left: 20%;
  }


  #formulario{
    text-align: center;
    background-color: #303030;

}

#titulo-formulario{
    font-size: 22px;
    margin: 42px;
    padding-top: 05%;
    color: #FFFFFF;
}

input{
    width: 300px;
    Height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;

}

button{
    Width: 200px;
    Height: 40px;
    color:#EAECE5;
    font-weight: bolder;
    background-color:  #C07212;
    margin-bottom: 50px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;  
}

button:hover{
    background-color: #ff920c;
    color: white;
    transform: translateY(-4px);
    box-shadow: 0px 15px 20px #f1eb2981;
    transition-duration: 0.3s;
}



